<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
        body {
            background-color: lightblue;
            max-width: 1000px;
            margin: 2rem auto;
        }
        header {
             color: white;
             text-align: center;
             font-family: verdana;
             font-size: 40px;
             height: 75px;
        }
        
        p {
            text-align: center;
        }
        
        footer {
            text-align: center;
        }
        
    
    </style>
</head>

<body>
    <header>
        I'm Mert. Welcome to my blog.
    </header>
    <article>
    <p><img src="/static/images/mert.jpeg" width="200" height="200"></p>
    </article>
    <footer>
        <a href="/">Home</a>
    </footer>
</body>

</html>