<!DOCTYPE html>
<head>
    <title>new event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <header>
    <img id="logo" src="/static/img/logo.jpg" height="120" alt="logo" />
  </header>

  <title>New Event</title><br/>
  <h1>Thanks for your donation</h1>
  <footer>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
</footer>
</body>
