{% extends "layout.html" %}

{% block body %}
    <h1 style = "text-align : center;font-weight:bold">Event Page</h1>
    <br/>
    <h1 id="title">{{event.title}}</h1>
    <br/>
    <img src="{{event.image}}" alt="event image" id="image" />
    <br/>
    <span id="date">Date: {{event.date}}</span>
    <br/>
    <span id="location">Location: {{event.location}}</span>
     <br/>
    Attendees: 
    <ul class="list-group" id="attendees">{{event.attending}}</ul>
     <br/>
     <div>
         Want to contribute? <a href='/donate' id='donate'>Donate</a> now!
     </div>
     <div>
        <ul class='list-group' id ='attendees' style="list-style: none;">
               <li>{{event.email}}</li>
        </ul>
     </div>
     
     <form action="/neweventperson/{{event.id}}" method="post">
              <input type='email' id='email' name='email'>
              <button type='submit' class='btn' name='submit'>Submit</button>
    </form>
{% endblock %}