{% extends "layout.html" %}

{% block body %}
    <h1 style = "text-align : center;font-weight:bold">Event Page</h1>
    <br/>
    {{event.title}}
    <br/>
    {{event.image}}
    <br/>
    Date: {{event.date}}
    <br/>
    Location: {{event.location}}
     <br/>
    Attendees: {{event.attending}}
     <br/>
     <div>
         Want to contribute? <a href='/donate' id='donate'>Donate</a> now
     </div>
     <div>
        <ul class='list-group' id ='attendees' style="list-style: none;">
               <li>{{event.email}}</li>
        </ul>
     </div>
     
     <form action="/neweventperson/{{event.id}}" method="post">
              <input type='email' id='email' name='email'>
              <button type='submit' class='btn' name='submit'>Submit</button>
    </form>
{% endblock %}