{% extends "layout.html" %}

{% block body %}
    <main>
        <h1>Eventopedia.com</h1>
        <h2>Welcome to the unlimited universe of exiting SOM events!</h2>
    <ul>
      
      <li class="event" id="event-0">
        <a href="/events/0" id="title">Mac's Rave Party</a>
        <br />
        <time>9/19/18 23:30</time>
      </li>
      
      <li class="event" id="event-1">
        <a href="/events/1" id="title">Meet Lesley</a>
        <br />
        <time>10/31/18 4:00</time>
      </li>
      
      <li class="event" id="event-2">
        <a href="/events/2" id="title">Cook with Mert</a>
        <br />
        <time>12/25/18 20:30</time>
      </li>

    </ul>
    <a href='/createanevent' id='createanevent'>Create an event</a>
   
    </main>
{% endblock %}
