{% extends "layout.html" %}

{% block body %}
    <main>
        <h1>Eventopedia.com</h1>
        <h2>Welcome to the unlimited universe of exiting SOM events!</h2>
   <ul>
      {% for person in contextData %}
          <li class="event" id="event-{{person.id}}">
            <a href="/events/{{person.id}}" id="title">{{person.title}}</a>
            <br />
            <time>{{person.date}}</time>
          </li> 
      {% endfor %}
    </ul>
   
    <a href='/createanevent' id='createanevent'>Create an event</a>
   
    </main>
{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130546983-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-130546983-1');
</script>