{% extends "layout.html" %}

{% block body %}
    <main>
        <h1>Eventopedia.com</h1>
        <h2>Welcome to the unlimited universe of exiting SOM events!</h2>
   <ul>
      {% for person in contextData %}
          <li class="event" id="event-{{person.id}}">
            <a href="/events/{{person.id}}" id="title">{{person.title}}</a>
            <br />
            <time>{{person.date}}</time>
          </li> 
      {% endfor %}
    </ul>
   
    <a href='/neweventperson' id='neweventperson'>Create an event</a>
   
    </main>
{% endblock %}
